:root{
    --primary: #b6b6b6;
    --background: rgba(59, 31, 31, 0.902);
    --bg-color: rgb(20,20,20);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: rgb(0, 0, 0);
    height: auto;

}


.hehou{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 7%;
    background-color: rgba(0, 1, 1, 0.5);
    border-bottom: 1px solid rgba(248, 248, 255, 0.865);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

.hehou .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    font-style: italic;
}

.acumalaka{
    color: maroon;
}

.hehou .navbar-nav a{
    color: var(--primary);
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 2rem;
}

.hehou .navbar-nav a:hover{
    color: rgb(205, 136, 46);
}

.hehou .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid rgb(205, 136, 46);
    transform: scaleX(0);
    transition: 0.3s linear;
}

.hehou .navbar-nav a:hover::after{
    transform: scaleX(0.4);
}

.hehou .navbar-extra a{
    color: var(--primary);
    margin: 0 0.5rem;
}

.hehou .navbar-extra a:hover{
    color: var(--primary);
}
#menu{
    display: none;
}

/* Hero section */

/* Hero section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('bahan_web/ahay.1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.hero .content {
    padding: 1.4rem;
    max-width: 60rem;
}
.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
    line-height: 1.3;
}

.hero .content h1 span {
    color: rgba(152, 3, 3, 0.833);

}

.hero .content p{
    color: #010101;
    mix-blend-mode: darken;
    max-width: 34rem;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 
    rgba(1, 1, 3, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about{
    padding: 13.2rem 7% 1.4rem;
}
.about h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.about h2 span{
  color: rgba(152, 3, 3, 0.833);
}

.about .row{
    display: flex;
}

.about .row .about-img img{
    flex: 1 1 45rem;
}

.about .row .about-img .img{
    width: 100;
}

.about .row .content {
    flex: 1 1 37rem;
    padding: 0 1rem;
}

.about .row .content h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.about .row .content p{
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.6;
}

.hihi{
    padding: 6rem 7% 1.4rem;
}

.navbar{
    padding: 12.1rem 7% 1.4rem;
}
.navbar h2{
    text-align: center;
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 2.4rem;
}

.navbar h2 span{
    color: rgba(152, 3, 3, 0.833);
}

.navbar p{
    text-align: center;
    max-width: 34rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight:100;
    line-height: 1.6rem;
}


.kartu{
    align-items: center;
    background-color: white;
    display: flex;
    height: 130vh;
    justify-content: center;
    margin: 2px;
    overflow: hidden;
    padding: 20px;
}

#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 300vh;
    width: calc(100% - 23px);
    z-index: 2;
}




.card{
    background-image: url("bahan_web/bisalah.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 268px;
    position: relative;
    background-size: cover;
    width: 192px;
    z-index: 3;
}

.kartu .card h1 {
    color: rgba(248, 248, 255, 0.835);
    display: flex;
    justify-content: center;
}

.kartu .card h2 {
    color: rgba(248, 248, 255, 0.899);
    display: flex;
    justify-content: center;
}

.card ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.card1{
    background-image: url("bahan_web/SKI\(1\).png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 268px;
    position: relative;
    background-size: cover;
    width: 192px;
    z-index: 3;
}

.card1 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.kartu .card1 h1 {
    color: rgba(248, 248, 255, 0.835);
    display: flex;
    justify-content: center;
}

.kartu .card1 h2 {
    color: rgba(248, 248, 255, 0.899);
    display: flex;
    justify-content: center;
}

.kartu .card4 h2 {
    display: flex;
    justify-content: center;
    font-size: 2.24vh;
}


.card2{
    background-image: url("bahan_web/qur\'an.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 268px;
    position: relative;
    background-size: cover;
    width: 192px;
    z-index: 3;
}

.card2 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card3{
    background-image: url("bahan_web/hadist.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 268px;
    position: relative;
    background-size: cover;
    width: 192px;
    z-index: 3;
}

.card3 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card4{
    background-image: url("bahan_web/benerjadinih.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 268px;
    position: relative;
    background-size: cover;
    width: 199px;
    z-index: 3;
}

.card4 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card5{
    background-image: url("bahan_web/tahsin...png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    height: 268px;
    position: relative;
    background-size: cover;
    width: 192px;
    z-index: 3;
}

.card5 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.navbar h1{
    display: flex;
    position: relative;
    font-size: 7.8vh;
    bottom: -99px;
}

.navbar .hmm2 span {
    display: flex;
    position: relative;
    right: -2px;
}

.navbar h1 span {
    color: rgba(152, 3, 3, 0.833);
}

.space {
    height: 200px;
}

.nyoo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 8vh;
    padding-top: 13vh;
}


.nyoo span {
    color: rgba(152, 3, 3, 0.833);
}

.social {
    display: flex;
    position: relative;
    height: 97vh;
    background-color: #fff;
    z-index: 4;
    justify-content: space-between;
    align-items: center;
}



.nay {
    color: #fff;
}



.credit {
    padding-top: 24rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;   
}

.nyanyo {
    display: flex;
    font-size: larger;
    background-color: #b6b6b6;
}

.dut {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: center;
}

.kata-kata {
    display: flex;
    justify-content: center;
}

.sipdah {
    display: flex;
    position: relative;
    background-color: #b6b6b6;
    height: 3.2rem;
}

/* contact section */

.plus {
    display: flex;
    font-size: 4.8vh;
    align-items: center;
    justify-content: center;
}

.plus span {
    color: rgba(152, 3, 3, 0.833);
}


.contact .row {
    display: flex;
    margin-top: 1.9rem;
    background-color: #b6b6b6;
    flex-wrap: wrap;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 4.6rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: #b6b6b6;
    border: 3px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    background: none;
    color: #010101;
}

.space {
    display: flex;
    padding: 1px;
}

.contact .row form .masukan {
    font-size: 17.5px;
    display: inline-block;
    padding: 1rem 1rem;
    cursor: pointer;
    color: #fff;
    background-color: rgba(39, 36, 36, 0.89);
}


.space4 {
    height: 13rem;
}

/* footer start*/

footer {
    background-color: #000000;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .sosials {
    padding: 1rem 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

footer .sosials a{
    color: #fff;
    size: 1rem;
}

footer .sosials a:hover{
    color: #b6b6b6;
}

footer .link a {
    color: #fff;
    font-size: 1.1rem;
}

footer .link a:hover {
    color: #b6b6b6;
}

footer .space2 {
    height: 45px;
}

footer .space3 {
    height: 30px;
}

footer .nyanyo3 {
    color: #fff;
}


/* footer end*/


/*  */

.kartu .card2 h1 {
    color: rgba(248, 248, 255, 0.835);
    display: flex;
    justify-content: center;
}

.kartu .card2 h2 {
    color: rgba(248, 248, 255, 0.899);
    display: flex;
    justify-content: center;
}


.kartu .card3 h1 {
    color: rgba(248, 248, 255, 0.835);
    display: flex;
    justify-content: center;
}

.kartu .card3 h2 {
    color: rgba(248, 248, 255, 0.899);
    display: flex;
    justify-content: center;
}


.kartu .card4 h1 {
    color: rgba(248, 248, 255, 0.747);
    display: flex;
    justify-content: center;
}

.kartu .card4 h2 {
    color: rgba(248, 248, 255, 0.82);
    display: flex;
    justify-content: center;
}

.kartu .card5 h1 {
    color: rgba(248, 248, 255, 0.835);
    display: flex;
    justify-content: center;
}

.kartu .card5 h2 {
    color: rgba(248, 248, 255, 0);
    display: flex;
    justify-content: center;
}


.contact .row .map {
    height: 80rem;
}





/* Laptop */
@media (max-width: 1370px) {
    html{
        font-size: 89%;
    }

}

/* Tablet */

@media (max-width: 888px) {
    html{
        font-size:76%;
    }

    #menu{
        display: inline-block;

    }

   .hehou .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;

   }

   .hehou .navbar-nav.active {
    right: 0;
}

.hehou .navbar-nav a{
    color: var(--background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.hehou .navbar-nav a::after{
    transform-origin: 0 0;
}

.hehou .navbar-nav a:hover:after{
    transform: scaleX(0.2);
}
.about .row{
    flex-wrap: wrap;
}

.about .row .about-img img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -126px;
}

.about .row content{
    padding: 0;
}

.about .row .content h3{
    margin-top: 1.2rem;
    font-size: 2rem;
}
.about .row .content p{
    font-size: 1.4rem;
}



.hero .content p{
    color: #fff;
    mix-blend-mode: lighten;
    max-width: 34rem;
}

.hero{
    background-image: url("bahan_web/al-qur\'an2.png");
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.9rem;
    color: #000000;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 
    rgba(1, 1, 3, 0.5);
}


.kartu{
    align-items: center;
    background-color: white;
    display: flex;
    height: 86vh;
    justify-content: center;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
}

.about .row .about-img img{
    display: flex;
    justify-content: center;
    background-image: url("bahan_web/ahay.png");
}
#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}




.card{
    background-size: contain;
    background-image: url("bahan_web/AKLAK.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    height: 195px;
    background-size: cover;
    position: relative;
    width: 168px;
}



.card ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card1{
    background-size: contain;
    background-image: url("bahan_web/SKI\(1\).png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    height: 196px;
    background-size: contain;
    position: relative;
    width: 168px;
}

#card1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}

.card1 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card2{
    background-size: contain;
    background-image: url("bahan_web/deal.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    height: 196px;
    background-size: contain;
    position: relative;
    width: 168px;
}

#card2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}

.card2 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.kartu .card h1 {
    color: #010101;
}

.kartu .card2 h1{
    color: #ffffffe7;
}

.card3{
    background-size: contain;
    background-image: url("bahan_web/hadisttjoy.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    height: 196px;
    background-size: contain;
    position: relative;
    width: 168px;
}

#card3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}

.card3 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.card4{
    background-size: contain;
    background-image: url("bahan_web/benerjadinih.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    height: 196px;
    background-size: contain;
    position: relative;
    width: 168px;
}

#card4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}

.card4 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.card5{
    background-size: contain;
    background-image: url("bahan_web/tahsin...png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    height: 196px;
    background-size: contain;
    position: relative;
    width: 168px;
}

#card5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}

.card5 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.kartu .card h1{
    color: #ffffffcd;
}

.kartu .card5 h1{
    color: #ffffffeb;
}


.plus {
    font-size: 2.4rem;
}

}


.contact .row {
    flex-wrap: wrap;
}

.contact .row .map {
    height: auto;
}



/* Mobile Phone */
@media (max-width: 646px) {
    html{
        font-size: 63%;
    }

    .hero{
    background-image: url("bahan_web/al-qur\'an2.png");
    background-size: cover;
}


    .kartu{
    align-items: center;
    background-color: white;
    display: flex;
    height: 60vh;
    justify-content: center;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
}

#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}




.card{
    background-size: contain;
    background-image: url("bahan_web/bisalah.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    height: 140px;
    position: relative;
    width: 121px;
}



.card ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card1{
    background-size: contain;
    background-image: url("bahan_web/SKI\(1\).png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    height: 140px;
    position: relative;
    width: 121px;
}


#card1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}


.card1 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card2{
    background-size: contain;
    background-image: url("bahan_web/qur\'an\(2\).png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    height: 140px;
    position: relative;
    width: 121px;
}


#card2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}


.card2 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card3{
    background-size: contain;
    background-image: url("bahan_web/hadist.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    height: 140px;
    position: relative;
    width: 121px;
}


#card3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}


.card3 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card4{
    background-size: contain;
    background-image: url("bahan_web/benerjadinih.png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    height: 140px;
    position: relative;
    width: 121px;
}

.card4 h2{
    font-size: 12px;
}


#card4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}


.card4 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}


.card5{
    background-size: contain;
    background-image: url("bahan_web/tahsin...png");
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    height: 140px;
    position: relative;
    width: 121px;
}


#card5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 200vh;
    width: calc(100% - 23px);
}


.card5 ::before {
    background: linear-gradient(
        800px 100px 100px, rgba(255, 255, 255, 1)
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.kartu .card4 h2 {
    display: flex;
    justify-content: center;
    font-size: 1.65vh;
}

.contact .row .map {
    height: 30rem;
}


}