:root{
    --primary: #b6895b;
    --background: #010101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: #fff;
    min-height:3500px;
}

/* Dekstop */

/* Navbar */
.cacing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1 ,0.8);
    border-bottom: 1px solid #6c4c2d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.cacing .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.cacing .navbar-logo span{
    color: var(--primary);
}
.cacing .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 2rem;
}

.cacing .navbar-nav a:hover{
    color: var(--primary);
}


.cacing .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.3s linear;
}

.cacing .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.cacing .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;
}

.cacing .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Hero section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../gambar_kopi/haciim.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .content {
    padding: 1.4rem;
    max-width: 60rem;
}
.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.7);
    line-height: 1.3;
}

.hero .content h1 span {
    color: var(--primary);

}

.hero .content p{
    color: #010101;
    mix-blend-mode: darken;
    max-width: 34rem;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 
    rgba(1, 1, 3, 0.5);
}

/* about section */
.about {
    padding: 8.3rem 7% 1.4rem;
}

.about h2{
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.about h2 span{
    color: var(--primary);
}

.about .row{
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;

}

.about .row .content {
    flex: 1 1 37rem;
    padding: 0 1rem;
}

.about .row .content h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.about .row .content p{
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.6;
}

.menu{
    padding: 5.4rem 7% 1.4rem;
}

.menu h2 span{
    color: var(--primary);
}
.menu h2{
    text-align: center;
    font-size: 2.4rem;
    margin-top: 3rem;
}

.menu h2{
    margin-bottom: 2.4rem;
}

.menu p{
    text-align: center;
    max-width: 34rem;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6rem;
}



/* /Desktop */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html{
        font-size: 79%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html{
        font-size:57%;
    }

    #hamburger-menu {
        display: inline-block;

    }

   .cacing .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;

   }

   .cacing .navbar-nav.active {
    right: 0;
}

.cacing .navbar-nav a{
    color: var(--background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.cacing .navbar-nav a::after{
    transform-origin: 0 0;
}

.cacing .navbar-nav a:hover:after{
    transform: scaleX(0.2);
}

.about .row {
    flex-wrap: wrap;
}

.about .row .about-img img{
    height: 23rem;
    object-fit: cover;
    object-position: center;
}

.about .row .content{
    padding: 0;
}

.about .row .content h3{
    margin-top: 1.2rem;
    font-size: 2rem;
}

.about .row .content p{
    font-size: 1.4rem;
}

}

/* Mobile Phone */
@media (max-width: 450px) {
    html{
        font-size: 38%;
    }
}